build/
runs/
run/
bin/
out/
target/
dist/
.settings
.gradle
.jar
.idea
.class
.project
.classpath
.envrc
!gradle-wrapper.jar

local.properties
local.gradle

Cargo.lock

beatcraft_vivify.dll
beatcraft_vivify.so